---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
// import cards from "../data/cards.js";
// import { getCollection } from "astro:content";

const posts = await Astro.glob("./posts/*.md");
---

<Layout title="View Transitions Example">
  <main class="mx-auto min-h-[200dvh] max-w-xl py-56">
    <ul class="list-none">
      {
        posts.map((post) => (
          <Card
            title={post.frontmatter.title}
            subtitle={post.frontmatter.subtitle}
            url={post.url}
            vtName={post.frontmatter.slug}
            backgroundAsset={post.frontmatter.backgroundAsset}
          />
        ))
      }
    </ul>
  </main>
</Layout>
