---
export interface Props {
  url: string;
  title: string;
  subtitle: string;
  vtName?: string;
  backgroundAsset?: string;
}

const { url, title, subtitle, vtName, backgroundAsset } = Astro.props;
---

<li
  class="aspect-square rounded-xl shadow-card"
  style=`view-transition-name: ${vtName}`
>
  <a href={url} class="relative block h-full w-full p-[1vw]">
    <div class="text-white">
      <h2 class="text-[4.5vw] font-bold leading-none drop-shadow">
        {title}
      </h2>
      <p class="mt-[2vw] text-[.8vw]">
        {subtitle}
      </p>
    </div>
    <div
      class="absolute inset-0 -z-10 overflow-hidden rounded-xl after:absolute after:inset-0 after:z-10 after:bg-gradient-to-br after:from-black/60 after:via-black/60 after:via-20% after:to-transparent"
    >
      <video
        autoplay
        loop="true"
        muted="true"
        playsinline="true"
        autoplay="true"
        class="h-full w-full object-cover"
      >
        <source src={backgroundAsset} type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </a>
</li>
